# .env.example  (no real secrets in here)
# After filling the demo spaces please put this to backend folder using this command
# cp .env.example backend/.env
DB_HOST=LOCALHOST
DB_USER=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_USERS_PASSWORD
DB_NAME=YOUR_DATABASE_NAME
DB_PORT=3306

#Flask Configuration
# FLASK_ENV=development
# SECRET_KEY=YOUR_SECRET_KEY_HERE
# For now this Flask configuration isn't important because we are in demo mode but
# when we will setup hashing methond then this will help us a lot.
