* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-image: url("../../wall/global.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

a.active {
  display: inline-block;
  border-radius: 10px;
}

a.active:hover {
  border: 2px solid saddlebrown;
}

.first-container {
  display: flex;
  width: 100%;
}

.container {
  margin: 20px auto;
  /*background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);*/
  padding: 5px;
  border-radius: 15px;
  /*border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 20px 50px 15px rgba(0, 0, 0, 0.6);*/
  text-align: center;
  width: 100%;
  max-width: 1700px;
  min-height: 90vh;
  position: flex;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-bar a.active {
  color: saddlebrown;
  border-color: saddlebrown;
}

.side-bar {
  width: 55px;
  height: 900px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 5px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}

.side-bar a:hover {
  border-color: saddlebrown;
}

.sidebar-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin: auto 0;
}

.sub-folder {
  margin: 0px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 5px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  position: relative;
  z-index: 1;
}

.row1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 0 20px;
}

.row2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 0 20px;
}

#attendence-div {
  width: 100%;
  height: auto;
  min-height: 420px;
}

#attendence-div:hover {
  border: 2px solid saddlebrown;
}

#s-material {
  width: 100%;
  height: auto;
  min-height: 420px;
}

#s-material:hover {
  border: 2px solid saddlebrown;
}

#academics-div {
  width: 100%;
  height: auto;
  min-height: 420px;
}

#academics-div:hover {
  border: 2px solid saddlebrown;
}

#notice-div {
  width: 100%;
  height: auto;
  min-height: 420px;
}

#notice-div:hover {
  border: 2px solid saddlebrown;
}