* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /*background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
  background: url("../wall/Beat_World_1.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #123;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 50px 50px 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  min-width: 300px;
}

h1 {
  color: white;
  margin-bottom: 30px;
  font-size: 28px;
}
